.header {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    background: #146a6a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
}

.logo img {
    width: 100px;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6FD3C8;
    font-weight: bold;
}

body {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c6d3e4;
    /* background-image: url(mybg.png); */
    background-size: cover;
    display: grid;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url(mybg.png); */
    /* background-size: cover; */
    height: 100vh;
    width: 100%;
}

.bemvindo {
    background-image: url(bemvindoBG.png);
    background-size: cover;
    border-radius: 50px;
    width: 100%;
    text-align: center;
    /* background-color:#3e8facce; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 41px 21px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 0px 41px 21px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 41px 21px rgba(0,0,0,0.26); */
}
.avalie{
    background-color: #678cb1;
    align-items: center;
    align-content: center;
    text-align: center;
}

h3{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 15px; 
    color: #fff;  
    text-shadow: black 1px 1px 1px;  
    margin: 5px;
    text-align: center;
}

h1 {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 30px; 
    color: #fff;  
    text-shadow: black 3px 3px 3px;  
}

p {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    margin: 20px;
    font-size: 20px; 
    font-weight: 800;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px; 
    color: #ffffff;
}

h2 {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: black 1px 1px 1px; 
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.organiza{
    display: flex;
    height: fit-content;
    /* justify-content: space-between; */
}

.dicas{
    width: 800px;
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    /* margin-right: 30px;
    flex-wrap: wrap; */
    align-items: center;
}
.txt {
    text-decoration: underline;
    color: white;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quadrados{
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 50px;
    display: grid;
}

.noticias {
    width: 250px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    text-shadow: 3px 3px 3px #282828;  
    background-color: #a4bcdc;
    border-radius: 5px;
    /* -webkit-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    box-shadow: 0px 0px 137px -47px rgba(0,0,0,1); */
    margin-top: 20px;
}

.pesquisa{
    height: auto;
    display: flex;
    margin-left: 400px;
}

.dash{}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
}

a {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff; 
    text-shadow: 1px 1px 1px #282828; 
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    border-radius: 10px;
    background-color: #678cb1;
    -webkit-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    margin-left: 1000px;
    height: 100vh;
    padding: 50px;
    text-align: center;
    display: inline-block;
    
  }
  
  input {
    margin-bottom: 10px;
    border: 2px solid #32b9cd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .botao{
    border: solid 1px #1c7288;
    border-radius: 10px;
    color: #ffffff;
    background-color: #11404c;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    height: 40px;
    width: 100px;
    align-items: center;
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}
.botao:hover{
    background-color: #11404c;
    color: #1c7288;
    transform: scale(1.2);
}

/* QUIZ */

.cuidados{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: black 0px 1px 1px;
    background-color: #1f7f95;
    -webkit-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
}

#quiz-container {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    text-shadow: black 0px 1px 1px;
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-color: #1f7f95;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    box-shadow: 0px 0px 137px -47px rgba(0,0,0,1);
    color: #fff;
}


/* #options-container {
    margin: 20px;

} */

h2 {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    text-shadow: black 0px 1px 1px;
    text-shadow: 0px 1px 1px;
    color: white;
}

button {
    width: 150px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #d8e8ee;
    color: #0c1c22;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #11404c;
    color: #d8e8ee;
    transform: scale(1.2);
}

/* #score {
    margin-top: 20px;
    font-weight: bold;
    color: white;
    text-shadow: black 0px 1px 1px;
} */

.footer {
    background-color: #146a6a;
    color: #fff;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 10px;
    display: block;
    justify-content: space-between;
  }

  .graficos{
    display: inline-flex;
    /* width: auto; */
    background-color: #6FD3C8;
  }

  .grafico-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tituloGrafico{
    width: 45%;
    text-align:center;
    margin: 10px;
  }